<div class="center hero-unit" xmlns="http://www.w3.org/1999/html">
  <% provide(:title, @team.name) %>

  <h1>
    <%= @team.name %>
  </h1>
  <h2>
    The <a href= <%= @team.url %> ><%= @team.name %></a>
    are a team in the National Football League.  They play in the <%= @team.division %> Division.
    <%=  if @team.coach != nil; "This team is coached by "; end %>
    <%= get_coach @team %>
  </h2>
  <%= link_to image_tag((@team.abbrev.to_s + ".png"), alt: "NFL"), @team.url %>
  </br>
  <h2>
    Click <a href=/teams>here</a> to see a full list of all NFL teams.
  </h2>
</div>






<h2>
  Most recent game score: <%= get_score @team %>
</h2>